.App {
  box-sizing: border-box;
  text-align: center;
  background-color: white;
}

.Border {
  border: 2px solid black;
  border-radius: 10px;
  padding: 5px;
  margin: 5px;
  background-color: lightgray;
}

.Calc {
  margin: auto;
  margin-top: 20px;
  padding: 10px;
  width: 700px;
  background-color: lightslategray;
  border: 2px solid black;
  border-radius: 10px;
}

.Disp {
  border: 1px solid black;
  border-radius: 5px;
  background-color: lightgray;
  font-size: 2rem;
  height: 200px;
  text-align: left;
  margin: 20px;
  padding: 15px;
  word-wrap: break-word;
}

.Buttons {
  display: grid;
  gap: 3px;
  grid-template-columns: repeat(3, 1fr);
  min-height: 400px;
  padding: 5px;
  background-color: lightgray;
  color: white;
}

.Buttons > button {
  background-color: lightgray;
  border: 2px solid black;
  font-size: 1.5rem;
  border-radius: 5px;
  color: white;
}

.Buttons > button:hover {
  background-color: rgb(173, 170, 170);
}

.full-width {
  grid-column: span 3;
  font-size: 1.5rem;
}

.red-button {
  background-color: red !important;
  color: white !important;
  border: 2px solid black;
}

.red-button:hover {
  background-color: #b22222 !important;
}

.blue-button {
  background-color: #647299 !important;
  color: white;
  border: 2px solid black;
}

.blue-button:hover {
  background-color: #506b8f !important;
}

.gray-button {
  background-color: #818589 !important;
  color: white;
  border: 2px solid black;
}

.gray-button:hover {
  background-color: #808080 !important;
}
