.App {
  box-sizing: border-box;
  text-align: center;
  background-color: white;
}

.Border{
  border: 2px solid black;
  border-radius: 10px;
  padding: 5px;
  margin: 5px;
  background-color: lightgray;
}


.Calc{
  margin: auto;
  margin-top: 10px;
  padding: 3px;
  width: 500px;
  background-color: lightslategray;
  border: 2px solid black;
  border-radius: 10px;
  
}

.Disp{
  border: 1px solid black;
  border-radius: 5px;
  background-color: lightgray !important;
  font-size: 2rem;
  height: 100px;
  text-align: right;
  margin-bottom: 2px;
  margin: 20px;
  padding: 10px;
}

.Buttons {
  display: grid;
  gap: 2px;
  grid-template-columns: repeat(4, 1fr);
  height: 300px;
  font-size: 2rem;
  padding: 3px;
  background-color: lightgray;
  
}


.Buttons > button {
  background-color: lightgray;
  border: 2px solid black;
  font-size: 1em;
  border-radius: 5px; 

}

.Buttons > button:hover {
  background-color: rgb(173, 170, 170);
}


.full-width {
  grid-column: span 4; 
}

.red-button {
  background-color: red !important; 
  color: white !important;
  border: 2px solid black;
}

.red-button:hover {
  background-color: #b22222 !important;
}


.blue-button{
  background-color: #647299 !important;
  color: white;
  border: 2px solid black;
}

.blue-button:hover {
  background-color: #506b8f !important;
}

.cyan-button{
  background-color: #049484 !important;
  color: white;
  border: 2px solid black;
}

.cyan-button:hover {
  background-color: #037373 !important;
}
