.App {
  text-align: center;
  box-sizing: border-box;
}

.Calc {
  margin-top: 20px;
  width: 500px;
  margin: auto;
  border: 5px solid black;
}

.Disp {
  background-color: gray;
  height: 40px;
  border: 1px solid lightgray;
  font-size: 2em;
  text-align: right;
  padding: 10px;
  margin-bottom: 10px; 
}

.Buttons {
  display: grid; 
  grid-template-columns: repeat(4, 1fr); 
  border: 5px solid red;
  height: 300px;
  cursor: pointer;
}

.Buttons button {
  background-color: yellow;
  border: 2px solid lightpink;
  font-size: 1.5em;
}

button:hover {
  background-color: rgb(206, 203, 38);
}